@import "../../global.scss";

.assistant-card {
  align-items: center;
  background-color: rgba($color: $backgroundColor, $alpha: 0.95);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  h1 {
    font-size: 2.5rem;
    color: $primaryColor;
    margin-bottom: 2.5rem;
  }

  .options-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

    .yes-no-button {
      width: 5rem;
      text-align: center;
    }
  }
}
