@import "../../global.scss";

.assistant-card {
  background-color: rgba($color: $backgroundColor, $alpha: 0.95);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 75vw;
  padding: 1.5rem;

  h2 {
    color: $primaryColor;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }

  .response-container {
    margin-bottom: 1rem;

    &.radio-group {
      display: flex;
      flex-direction: column;
      font-size: 1rem;

      input {
        margin-right: 0.5rem;
      }
    }

    select {
      background-color: white;
      border-radius: 0.25rem;
      font-size: 1rem;
      padding: 0.25rem;
    }
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;

    .submit-button {
      border-style: none;
      font-size: 1rem;
      text-align: center;
      width: 25%;
    }
  }
}
