@import "../../global.scss";

.fish-card {
  height: 25rem;
  width: 20rem;
  padding: 0.75rem;
  // So that padding doesn't affect div width/height.
  // This will force the browser to calculate the width according to the
  // "outer"-width of the div, it means the padding will be subtracted from the width.
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .fish-card-content {
    background-color: $backgroundColor;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    padding: 0.75rem;
    transition: all 0.2s;
    // So that padding doesn't affect div width/height.
    // This will force the browser to calculate the width according to the
    // "outer"-width of the div, it means the padding will be subtracted from the width.
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .fish-card-image-container {
      background-color: skyblue;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      height: 70%;
      width: 100%;
      margin-bottom: 0.75rem;
      overflow: hidden;

      .fish-card-image {
        height: 100%;
        width: 100%;
      }
    }

    .fish-card-body {
      font-size: 1.25rem;
    }

    &:hover {
      transform: scale(1.03);
      cursor: pointer;
    }
  }
}
