@import "../../global.scss";

.welcome-container {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  height: 100vh - 7vh; // -7vh to account for navbar height
  justify-content: center;

  .welcome-content {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;

    .welcome-header {
      font-weight: 500;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .welcome-text,
    .getting-started {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      font-size: 1rem;
    }

    .water-buttons-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
  }
}
