@import "../../global.scss";

.help-content {
  display: block;
  height: inherit; // Inherits height from the Modal base component
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 1rem;

  h1 {
    margin-bottom: 1rem;
  }

  .images-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: auto;

    .image-container {
      display: flex;
      justify-content: center;
      margin-right: 1rem;

      img {
        width: 12rem;
      }
    }
  }
}
