@import "../../global.scss";

.info-content {
  display: flex;
  height: inherit; // Inherits height from the Modal base component
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 1rem;

  h1,
  h2 {
    margin-bottom: 0.75rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    img {
      width: 40%;
    }
  }

  .info {
    .info-paragraph {
      margin-bottom: 0.75rem;
    }
    margin-bottom: 2rem;
  }

  .sources {
    ul {
      list-style-type: none;

      li {
        margin-bottom: 0.25rem;

        a {
          color: skyblue;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
