@import "../../global.scss";

.info-content {
  display: flex;
  height: inherit; // Inherits height from the Modal base component
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 1rem;

  h1,
  h2 {
    margin-bottom: 0.25rem;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    .fish-modal-image {
      height: 20rem; // All images will have same height, with varying widths
    }
  }

  .info {
    .info-paragraph {
      margin-bottom: 0.75rem;
    }
  }

  .sources {
    overflow-wrap: break-word;

    ul {
      li {
        margin-bottom: 0.25rem;

        a {
          color: rgb(38, 121, 154);
          text-decoration: none;

          flex-wrap: wrap;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
