@import "../../global.scss";

.modal-container {
  animation-duration: 0.4s;
  animation-name: slide-in-from-bottom;
  background-color: $backgroundColor;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  top: 14vh;
  transition: all 0.2s;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .close-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  #close-button {
    color: black;
    margin-bottom: 0.5rem;
    // So the X is unselectable/unhighlightable
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  .content-container {
    color: black;
    height: 97%;
  }
}

// Animation to slide in from bottom
@keyframes slide-in-from-bottom {
  from {
    margin-top: 100vh;
  }
}

// Animation to slide out to bottom
// @keyframes slide-out-to-bottom {
//   to {
//     margin-top: 100vh;
//   }
// }
