.navbar {
  background-color: #1654b8;
  height: 7vh;
  width: 100%;

  .logo-container {
    align-items: center; // Align content center vertically
    display: flex;
    height: 100%; // Take up the entire height of the navbar
    margin-left: 2vw;
    width: fit-content;

    .logo-text {
      font-size: 1.5rem;
      font-weight: 700;
    }

    :hover {
      cursor: pointer;
    }
  }
}
